In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

data = pd.read_csv("players/2544/data.csv")

data.head()

,GAME_ID,TEAM_ID,PERIOD,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_MADE_FLAG,SEASON,HME_AWA,OPP_ID,MONTH,TIME_REMAINING,SHOT_DIFF,TIME_PER
0,21700001,1610612739,1,17,92,143,0,1,0,1610612738,10,42.433333,1,42
1,21700001,1610612739,1,21,-145,162,1,1,0,1610612738,10,41.733333,1,41
2,21700001,1610612739,1,1,9,11,1,1,0,1610612738,10,40.516667,0,40
3,21700001,1610612739,2,22,-228,-1,0,1,0,1610612738,10,34.466667,2,34
4,21700001,1610612739,2,0,8,1,1,1,0,1610612738,10,34.283333,0,34

In [2]:
data = data.drop(["GAME_ID", "PERIOD","LOC_X", "LOC_Y", "TEAM_ID", "TIME_PER","HME_AWA"], axis=1)
data.head()

,SHOT_DISTANCE,SHOT_MADE_FLAG,SEASON,OPP_ID,MONTH,TIME_REMAINING,SHOT_DIFF
0,17,0,1,1610612738,10,42.433333,1
1,21,1,1,1610612738,10,41.733333,1
2,1,1,1,1610612738,10,40.516667,0
3,22,0,1,1610612738,10,34.466667,2
4,0,1,1,1610612738,10,34.283333,0

In [3]:
test = data.sample(frac=0.3)
train = pd.concat([data,test]).drop_duplicates(keep=False)

features = train.drop(["SHOT_MADE_FLAG"], axis=1)
labels = train["SHOT_MADE_FLAG"]

test_feat = test.drop(["SHOT_MADE_FLAG"], axis=1)
test_labels = test["SHOT_MADE_FLAG"]

In [4]:
clf = MultinomialNB()
clf.fit(features, labels)

pred = clf.predict(test_feat)
accuracy = accuracy_score(test_labels, pred)
print(accuracy)

0.639358228027829

In [5]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(100)
clf.fit(features, labels)

pred = clf.predict(test_feat)
accuracy = accuracy_score(test_labels, pred)
print(accuracy)

0.6548345875337215

In [ ]:
from sklearn.svm import SVC

clf = SVC(kernel="linear")
clf.fit(features,labels)

pred = clf.predict(test_feat)
accuracy = accuracy_score(test_labels, pred)
print(accuracy)

In [30]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=20)
clf.fit(features,labels)

pred = clf.predict(test_feat)
accuracy = accuracy_score(test_labels, pred)
print(accuracy)

0.5990345023427517